* {
    box-sizing: border-box;
}

.login {
    width: 100%;
    height: calc(100vh - 70px);
    display: grid;
    place-items: center;
}

.login-form {
    width: 600px;
    padding: 16px;
}

.login-form__header {
    text-align: center;
    font-size: 35px;
}

.login-label {
    display: block;
    font-size: 22px;
    font-weight: bold;
}

.login-input {
    display: inline-block;
    width: 100%;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid black;
}

.login-button {
    width: 100%;
    height: 50px;
    background-color: #ff4d4d;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 22px;
    color: white;
    margin-top: 40px;
    cursor: pointer;
}

.link-auth {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 30px;
    color: deepskyblue;
}

.form-error {
    line-height: 1.5;
    min-height: 1.5em;
    font-size: 20px;
    margin-bottom: 10px;
    color: #ff4d4d;
}

