.image-preview {
    width: 100px;
    height: 100px;
    background-color: rgb(175, 175, 175);
    border-radius: 50%;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}