* {
    box-sizing: border-box;
}

.mypage {
    width: 100%;
    height: calc(100vh - 70px);
    display: grid;
    place-items: center;
}

.mypage-form {
    width: 600px;
    height: 800px;
}

.mypage-form__header {
    text-align: center;
}

.mypage-form__image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.image-preview {
    width: 100px;
    height: 100px;
    background-color: rgb(175, 175, 175);
    border-radius: 50%;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.image-input {
    display: none;
}

.image-button {
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    padding: 5px 10px;
}

.mypage-form__label {
    display: block;
    font-size: 20px;
}

.mypage-form__input {
    display: inline-block;
    width: 100%;
    height: 45px;
    margin-bottom: 40px;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
}

.mypage-form__button {
    display: block;
    width: 100%;
    height: 45px;
    background-color: red;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}