.mypage-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.mypage-header--left {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-preview {
    width: 120px;
    height: 120px;
    display: flex;
    background-color: rgb(175, 175, 175);
    border-radius: 50%;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.profile-name {
    font-size: 30px;
    font-weight: bold;
}

.link-edit {
    text-decoration: none;
    color: #ff4d4d;
    border: 1px solid #ff4d4d;
    border-radius: 5px;
    padding: 8px 24px;
}

/* ========== タブ設定 ==========*/

.mypage-tablist {
    padding-left: 200px;
    border-bottom: 2px solid gainsboro;
    display: flex;
    gap: 60px;
}

.mypage-tab__button {
    border: none;
    background: none;
    font-size: 18px;
    margin-top: 40px;
    padding: 0 0 6px;
    display: inline-block;
    line-height: normal;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.mypage-tab__button:visited,
.mypage-tab__button:hover,
.mypage-tab__button:active {
    color: inherit;
}

.mypage-tab__button[aria-selected="true"] {
    color: #ff0000;
    font-weight: bold;
}

.mypage-tab__panel {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    gap: 50px;
    padding: 20px;
    justify-content: start;
    width: min(100%, 1500px);
    margin: 0 auto;
}

.mypage-tab__panel[hidden] {
    display: none !important;
}

/* ========== 画像の設定 ==========*/
.tab-panel {
    display: flex;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-img--square {
    width: 100%;
    aspect-ratio: 1 /1;
    overflow: hidden;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-label {
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 18px;
}

/* ========== ここから下はタブレット用 ==========*/
@media screen and (min-width:768px) and (max-width:850px) {

    .mypage-tablist {
        padding-left: 60px;
        border-bottom: 2px solid gainsboro;
        display: flex;
        gap: 40px;
    }

    .mypage-tab__panel {
        display: grid;
        grid-template-columns: repeat(4, 150px);
        gap: 30px;
        justify-content: center;
        width: min(100%, 800px);
        margin: 0 auto;
    }

}
