* {
    box-sizing: border-box;
}

.mypage {
    width: 100%;
    height: calc(100vh - 70px);
    display: grid;
    place-items: center;
}

.mypage-form {
    width: 600px;
    height: 800px;
}

.mypage-form__header {
    text-align: center;
}

.mypage-form__label {
    display: block;
    font-size: 20px;
}

.mypage-form__input {
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
}

.mypage-form__button {
    display: block;
    width: 100%;
    height: 40px;
    background-color: red;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}