* {box-sizing: border-box;}

/* ========== 箱全体　==========*/
.product-detail {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 700px;
}

/* =========== 左側の画像 ==========*/
.product-card {
    width: 300px;
    height: 300px;
    margin-top: 60px;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* =========== 右側のコンテンツ ==========*/
.product-content {
    width: 300px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
}

.product__title {
    margin: 0 0 4px 0;
    line-height: 1.2;
}

.product-brand {
    margin: 0 0 12px 0;
    line-height: 1.3;
}

.product-price {
    margin: 0 0 14px 0;
    font-size: 16px;
    line-height: 1.2;
}

.product-price span {
    font-size: 28px;
}

.product-info__term {
    font-weight: bold;
    min-width: 90px;
    margin-right: 16px;
}

.product-description__title,
.product-info__title {
    font-size: 22px;
}

.product-info__category,
.product-info__condition {
    display: flex;
    align-items: center;
}

.product-info__category {
    margin-bottom: 10px;
}

.category-description span {
    display: inline-block;
    padding: 2px 12px;
    margin-right: 8px;
    border-radius: 9999px;
    background-color: #d9d9d9;
    font-size: 12px;
    line-height: 1.2;
}

.category-description,
.condition-description {
    margin-left: 12px;
}

.condition-description {
    font-size: 12px;
    padding-left: 12px;
}

.product-actions {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-left: 20px;
    margin-bottom: 15px;
}

.product-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
}

.icon svg {
    width: 20px;
    height: 20px;
    display: block;
}

.link-purchase {
    display: block;
    width: 100%;
    text-align: center;
    padding: 4px;
    background-color: #ff4d4d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/*　========== いいねアイコン ==========*/
/* buttonタグの初期値をリセット*/
.product-action--like {
    all:unset;
    cursor: pointer;
}

/*必要な設定だけ追加*/
.product-action--like {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
}

/* ========== 通常時のいいねアイコン ==========*/
.icon .heart-fill {
    display: none;
}

.product-action--like .icon {
    color: #000;
}


/* ========== いいねした時のいいねアイコン ==========*/

.product-action--like.is-liked .icon .heart-fill {
    display: block;
}

.product-action--like.is-liked .icon .heart-outline {
    display: none;
}

.product-action--like.is-liked .icon {
    color: #ff4d4d;
}

/*　========== コメントエリア ==========*/

.comment-list {
    list-style: none;
    padding: 0 10px;
}

.comment h2 {
    color: #5f5f5f;
}

.comment-textarea {
    width: 100%;
    height: 100px;
}

.comment-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-user__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: inline-block;
    object-fit: cover;
}

.comment-user__name {
    font-size: 18px;
    font-weight: 700;
}

.comment-body {
    margin-top: 12px;
    padding: 8px 14px;
    background-color: #d9d9d9;
    border-radius: 3px;
    font-size: 14px;
}

.comment-error {
    line-height: 1.8;
    min-height: 1.8em;
    font-size: 14px;
    color: red;
}

.comment-button {
    width: 100%;
    height: 30px;
    display: block;
    margin-bottom: 30px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
}
