* {box-sizing: border-box;}

/* ========== 箱全体　==========*/
.product-detail {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 700px;
}

/* =========== 左側の画像 ==========*/
.product-card {
    width: 300px;
    height: 300px;
}

.product-img {
    width: 100%;
    height: auto;
}

/* =========== 右側のコンテンツ ==========*/
.product-content {
    width: 300px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.product-info__term {
    font-weight: bold;
}

.product-info__category,
.product-info__condition {
    display: flex;
}

.product-actions {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin-left: 20px;
    margin-bottom: 15px;
}

.product-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
}

.icon svg {
    width: 20px;
    height: 20px;
    display: block;
}

.link-purchase {
    display: block;
    width: 100%;
    text-align: center;
    padding: 4px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/*　========== いいねアイコン ==========*/
/* buttonタグの初期値をリセット*/
.product-action--like {
    all:unset;
    cursor: pointer;
}

/*必要な設定だけ追加*/
.product-action--like {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
}

/* ========== 通常時のいいねアイコン ==========*/
.icon .heart-fill {
    display: none;
}

.product-action--like .icon {
    color: #000;
}


/* ========== いいねした時のいいねアイコン ==========*/

.product-action--like.is-liked .icon .heart-fill {
    display: block;
}

.product-action--like.is-liked .icon .heart-outline {
    display: none;
}

.product-action--like.is-liked .icon {
    color: #ff4d4d;
}






