* {
    box-sizing: border-box;
}

.auth-header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 70px;
    padding: 15px;
    align-items: center;
}

.header-logo {
    width: 400px;
}

.header-utility__input {
    width: 450px;
    height: 45px;
    font-size: 24px;
    padding: 0 30px;
    border-radius: 5px;
}

.header-utility__nav {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logout__button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}


.link-mypage {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.link-sell {
    padding: 5px 20px;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 5px;
}