* {
    box-sizing: border-box;
}

.auth-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: black;
    height: 60px;
    width: 100%;
    padding: 15px;
    column-gap: 16px;
}

.header-logo {
    height: 32px;
    width: auto;
}

.auth-header form {
    width: 100%;
    max-width: 520px;
    justify-self: center;
}

.header-utility__input {
    width: 100%;
    min-width: 450px;
    height: 35px;
    font-size: 20px;
    padding: 0 20px;
    border-radius: 5px;
}

.header-utility__nav {
    justify-self: end;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.logout__button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.link-login,
.link-mypage {
    text-decoration: none;
    color: white;
}

.link-login,
.link-mypage,
.link-sell {
    font-size: 18px;
}

.link-sell {
    padding: 2px 20px;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 5px;
}

/* ==========ここから下はタブレット用 ==========*/
@media screen and (min-width: 768px) and (max-width: 850px) {
    .auth-header {
        column-gap: 12px;
    }

    .header-logo {
        max-width: 200px;
    }

    .header-utility__input {
        min-width: 220px;
        height: 30px;
        font-size: 16px;
    }

    .header-utility__nav {
        gap: 10px;
    }

    .logout__button {
        font-size: 14px;
    }

    .link-login,
    .link-mypage,
    .link-sell {
        font-size: 14px;
    }

    .link-sell {
        padding: 0 10px;
    }
}
