* {
    box-sizing: border-box;
}

.auth-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: black;
    height: 60px;
    padding: 15px;
    column-gap: 24px;
}

.header-logo {
    height: 32px;
    width: auto;
}

.auth-header form {
    justify-self: center;
}

.header-utility__input {
    width: 450px;
    height: 35px;
    font-size: 24px;
    padding: 0 40px;
    border-radius: 5px;
}

.header-utility__nav {
    justify-self: end;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.logout__button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.link-login,
.link-mypage {
    text-decoration: none;
    color: white;
}

.link-login,
.link-mypage,
.link-sell {
    font-size: 20px;
}

.link-sell {
    padding: 2px 20px;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 5px;
}

/* ==========ここから下はタブレット用 ==========*/
@media screen and (min-width: 768px) and (max-width: 850px) {
    .auth-header {
        height: 70px;
        padding: 15px;
        column-gap: 12px;
    }

    .header-logo {
        height: 32px;
        width: auto;
        max-width: 220px;
    }

    .header-utility__input {
        width: 220px;
        height: 35px;
        font-size: 18px;
        padding: 0 20px;
        border-radius: 5px;
    }

    .header-utility__nav {
        width: auto;
        gap: 10px;
    }

    .logout__button {
        font-size: 14px;
    }

    .link-login,
    .link-mypage,
    .link-sell {
        font-size: 14px;
    }

    .link-sell {
        padding: 0 10px;
    }
}