* {box-sizing: border-box;}

.tablist {
    padding-left: 100px;
    border-bottom: 2px solid gainsboro;
    display: flex;
    gap: 50px;
}

.tab-button {
    border: none;
    background: none;
    font-size: 18px;
    margin-top: 40px;
}

.tab-panel {
    padding: 20px;
}

#panel-recommend {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tab-panel[hidden] {
    display: none !important;
}

.product-card {
    width: 300px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-img {
    width: 100%;
    height: auto;
}

.product-label {
    margin: 0;
    margin-bottom: 15px;
    font-size: 18px;
}

