* {box-sizing: border-box;}

.tablist {
    padding-left: 100px;
    border-bottom: 2px solid gainsboro;
    display: flex;
    gap: 50px;
}

.tab-button {
    border: none;
    background: none;
    font-size: 18px;
    margin-top: 40px;
}

.tab-panel {
    padding: 20px;
}

.tab-panel {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 50px;
    justify-content: start;
    width: fit-content;
    margin: 0 auto;
}

.tab-panel[hidden] {
    display: none !important;
}

.product-card {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.product-img {
    width: 100%;
    height: auto;
}

.product-label {
    margin: 0;
    margin-bottom: 15px;
    font-size: 18px;
}


/*ここから下はタブレット用*/
@media screen and (min-width:768px) and (max-width:850px){

.tab-panel {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 30px;
    justify-content: start;
    width: fit-content;
    margin: 0 auto;
}
}