* {box-sizing: border-box;}

/* ========== タブ設定 ==========*/

.tablist {
    padding-left: 100px;
    border-bottom: 2px solid gainsboro;
    display: flex;
    gap: 50px;
}

.tab-button {
    border: none;
    background: none;
    font-size: 18px;
    margin-top: 40px;
}

.tab-panel {
    padding: 20px;
}

.tab-panel {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 50px;
    justify-content: start;
    width: fit-content;
    margin: 0 auto;
}

.tab-panel[hidden] {
    display: none !important;
}

/* ========== 画像の設定 ==========*/

.product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-img--square {
    width: 200px;
    aspect-ratio: 1 /1;
    overflow: hidden;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-label {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
}




/*ここから下はタブレット用*/
@media screen and (min-width:768px) and (max-width:850px){

.tab-panel {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 30px;
    justify-content: start;
    width: fit-content;
    margin: 0 auto;
}
}