* {box-sizing: border-box;}

/* ========== 共通 ==========*/
.purchase-content {
    display: flex;
    width: 100%;
    max-width: 1400px;
    justify-content: space-around;
    margin: 0 auto;
    gap: 150px;
    padding: 20px;
}

.purchase-summary,
.purchase-payment,
.purchase-address {
    width: 100%;
    border-bottom: 3px solid gainsboro;
    padding: 30px 0;
}

.purchase-content__left {
    flex: 1 1 0;
    min-width: 320px;
}

.purchase-content__right {
    flex: 0 1 360px;
    min-width: 260px;
}

/* ==========商品情報欄 ==========*/
.purchase-summary {
    display: flex;
    gap: 50px;
}


.purchase-summary__left {
    width: 150px;
    height: 150px;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.purchase-summary__name {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.purchase-summary__price {
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
}

/* ==========支払い方法 ==========*/
.purchase-label {
    font-size: 22px;
    font-weight: bold;
}

.payment-select {
    display: block;
    width: 200px;
    font-size: 16px;
    margin: 30px 50px 20px
}


.purchase-payment .purchase-label {
    padding: 0 20px;
}

/* ==========配送先 ==========*/
.address-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.address-content {
    margin: 30px 30px 15px ;
    padding: 0 40px;
}

.address,
.post_code {
    margin: 0;
}

/* ========== 購入アクション ==========*/
.purchase-info {
    width: 100%;
    max-width: 420px;
    border: 2px solid gainsboro;
    margin-bottom: 50px;
}


.info-row:not(:last-child) {
    border-bottom: 2px solid gainsboro;
}

.info-row--top,
.info-row--bottom {
    display: grid;
    grid-template-columns: 120px 1fr;
    padding: 25px 30px;
    margin-left: 20px;
}


.purchase-button {
    width: 100%;
    max-width: 420px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}


/* ========== ここから下はタブレット用 ==========*/
@media screen and (min-width:768px) and (max-width:850px) {


    .purchase-content {
        max-width: 800px;
        gap: 100px;
        padding: 10px;
    }

    .purchase-content__right {
        flex: 0 1 260px;
    }

    .purchase-summary__left {
        width: 120px;
        height: 120px;
    }

    .purchase-label {
        font-size: 20px;
    }

    .payment-select {
        width: 150px;
        font-size: 14px;
        margin: 15px 40px 10px
    }

    .info-row--top,
    .info-row--bottom {
        display: grid;
        grid-template-columns: 80px 1fr;
        font-size: 14px;
        padding: 10px;
        margin-left: 10px;
    }

    .purchase-button {
        height: 32px;
        font-size: 18px;
    }
}
