*{box-sizing: border-box;}

.sell {
    width: 450px;
    margin: 0 auto;
}

.sell-heading__title {
    text-align: center;
}

.sell-label {
    display: block;
}

.sell-title {
    border-bottom: 2px solid rgb(182, 182, 182);
}

/* ========== 画像選択 ==========*/

.sell-image__box {
    border: 1px dashed #ddd;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.sell-image__input {
    display: none;
}

.sell-image__button {
    display: inline-flex;
    padding: 5px 10px;
    border: 1px solid #ff4b4b;
    color: #ff4b4b;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.sell-image__preview {
    position: absolute;
    inset: 0;
    z-index: 3;
    display: none;
}

.sell-image__preview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


.sell-image__box.has-image .sell-image__preview {
    display: block;
}

.sell-image__box.has-image .sell-image__button {
    z-index: 1;
    pointer-events: none;
}





/* ========== カテゴリー ==========*/

.category-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.category-list input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.category-list label {
    padding: 6px 12px;
    border: 1px solid #ff6b6b;
    border-radius: 999px;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
    white-space: nowrap;
    color: #ff6b6b;
}

.category-list input:checked+label {
    background: #ff6b6b;
    color: #fff;
}


/* ========== コンディション ==========*/

.sell-select {
    width: 100%;
    padding: 5px ;
}

/* ========== 商品名と説明 ==========*/

.sell-input {
    width: 100%;
    height: 30px;
}

.sell-textarea {
    width: 100%;
    height: 80px;
    resize: none;
}

/* ========== 送信ボタン ==========*/

.sell-button {
    width: 100%;
    height: 30px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
}