*
!.gitignore
!products/
!products/watch.jpg
!products/hdd.jpg
!products/onion.jpg
!products/shoes.jpg
!products/note_pc.jpg
!products/mic.jpg
!products/bag.jpg
!products/tumbler.jpg
!products/coffee_mill.jpg
!products/make_set.jpg
